h1{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-bottom: 20px;


}
h2{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}
section {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}
h3{
    text-decoration: underline;
    color: rgb(251, 255, 0);

}



.imagem {display: flex;
    
   
    height: 100%; /* Opcional: Defina a altura como 100% da altura da janela de visualização para centralização vertical */
    width: 500px;
    margin-top: 0%;
}
.estilo h4 {color: rgb(251, 255, 0); 
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
  body{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-image: url('https://images.pexels.com/photos/248747/pexels-photo-248747.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');

background-repeat: no-repeat; 

} 
body p{
    text-shadow:1px 1px 3px rgba(132, 0, 255, 0.8);

    
} 
body .homepage a { text-decoration: none;
    color:white;}
